.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}

.header {
    width: 100%;
    padding: 5rem;
    background-color: rgb(92, 155, 92);
    text-align: center;
    border: 2px solid lightgreen;
}

.search {
    width: 100%;
    padding: 5rem;
    background-color: rgb(147, 125, 206);
    text-align: center;
    border: 2px solid lightgreen;
}

.footer {
    width: 100%;
    padding: 5rem;
    background-color: rgb(197, 107, 158);
    text-align: center;
    border: 2px solid lightgreen;
}

img {
    height: 200px;
}
