body {
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

   
}

.header {
    width: 100%;
    padding: 5rem;
    background-color: rgb(229, 19, 19);
    text-align: center;
    
}

.search {
    width: 100%;
    padding: 5rem;
    background-color: rgb(13, 13, 14);
    text-align: center;
    
}

.footer {
    width: 100%;
    padding: 5rem;
    background-color: rgb(243, 235, 239);
    text-align: center;
    
}

img {
    height: 200px;
}
